# LIBRARIES AND DEPENDENCIES

In [ ]:
!pip install --user --upgrade google-api-python-client
!pip install --user pandas-gbq -U

In [10]:
import pandas as pd
import pandas_gbq
from google.cloud import bigquery
%load_ext google.cloud.bigquery
# Set your default project here
pandas_gbq.context.project = 'bigquery-public-data'
pandas_gbq.context.dialect = 'standard'

The google.cloud.bigquery extension is already loaded. To reload it, use:
  %reload_ext google.cloud.bigquery

In [11]:
!gcloud auth application-default login

Your browser has been opened to visit:

    https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=764086051850-6qr4p6gpi6hn506pt8ejuq83di341hur.apps.googleusercontent.com&redirect_uri=http%3A%2F%2Flocalhost%3A8085%2F&scope=openid+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fuserinfo.email+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fsqlservice.login+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Faccounts.reauth&state=mNkwCyEWnZ4kpjtvVyfjOsLPgdMYHi&access_type=offline&code_challenge=SJhMHrg1qm9pWjEVO0uvpsjfKSEwZURIDSr2JR5pCs4&code_challenge_method=S256


Credentials saved to file: [C:\Users\pport\AppData\Roaming\gcloud\application_default_credentials.json]

These credentials will be used by any library that requests Application Default Credentials (ADC).

Quota project "continente-lced-feup" was added to ADC which can be used by Google client libraries for billing and quota. Note that some services may still bill the project owning the resource.

# CUSTOMER

In [26]:
client = bigquery.Client(project = "continente-lced-feup") 
query = '''
    SELECT * FROM `continente-lced-feup.tables_raw.dim_customer` LIMIT 1000
'''
client.query(query).result().to_dataframe()

,CUSTOMER_ACCOUNT_NR_MASK,GENDER,FAMILY_MEMBERS,CP4,seg_lifestyle_cd,seg_lifestyle_dsc,SEG_AGE,SEG_AGE_DSC,seg_lifestage_cd,seg_lifestage_dsc
0,12655714,F,4,4430,1,Qualidade,SA_7,>65,2,Senior
1,561449,M,1,8365,2,Família,SA_7,>65,2,Senior
2,9934137,M,5,1500,3,Preço,SA_7,>65,2,Senior
3,8887927,M,2,4430,2,Família,SA_7,>65,2,Senior
4,1863271,F,4,2745,1,Qualidade,SA_7,>65,2,Senior
...,...,...,...,...,...,...,...,...,...,...
995,11663702,M,3,8375,2,Família,SA_7,>65,2,Senior
996,2368756,F,2,8200,2,Família,SA_7,>65,2,Senior
997,1352311,F,2,0000,2,Família,SA_7,>65,2,Senior
998,10977457,F,1,8000,1,Qualidade,SA_7,>65,2,Senior
999,8065426,None,2,8200,2,Família,SA_7,>65,2,Senior

# LOCATION

In [24]:
client = bigquery.Client(project = "continente-lced-feup") 
query = '''
    SELECT * FROM `continente-lced-feup.tables_raw.dim_location` LIMIT 1000
'''
client.query(query).result().to_dataframe()

     LOCATION_CD          LOCATION_DSC  LOC_BRAND_CD       LOC_BRAND_DSC   cp7
0            282   CBD VIZ S. JOÃO VER           302  continente bom dia  4520
1            303  CBD VIZ CAMPO GRANDE           302  continente bom dia  1700
2            304      CBD VALE FORMOSO           302  continente bom dia  4250
3            307     CBD NORTESHOPPING           302  continente bom dia  4464
4            309        CBD VIZ OEIRAS           302  continente bom dia  2780
..           ...                   ...           ...                 ...   ...
368         7905       TENDA CNT EVORA           143          continente  7000
369         7906       TENDA CNT VIANA           143          continente  4900
370         7907   TENDA CNT GAIASHOPP           143          continente  4404
371         7908    TENDA CNT BRAGA MC           143          continente  4710
372         7927       TENDA MCH MAFRA           143          continente  2640

[373 rows x 5 columns]

# PRODUCT

In [23]:
client = bigquery.Client(project = "continente-lced-feup") 
query = '''
    SELECT * FROM `continente-lced-feup.tables_raw.dim_product` LIMIT 1000
'''
client.query(query).result().to_dataframe()

,SKU,PRODUCT_DSC,UNIT_BASE_CD_EXT,UNIT_BASE_DSC_EXT,SUBCAT_CD_EXT,SUBCAT_DSC_EXT,CAT_CD_EXT,CAT_DSC_EXT,BIZ_UNIT_CD_EXT,BIZ_UNIT_DSC_EXT,DEPARTMENT_CD_EXT,DEPARTMENT_DSC_EXT,PRODUCT_SHORT_DSC,BRAND_DSC,BRAND_TYPE_CD,PRICE_RANGE,CONVERSION_FACTOR,CAPACITY_UNIT
0,4036442,SAL PURIFICADO CRISTAL IODADO VATEL 1KG,1020703,01020703 - Iodado,10207,010207 - sal,102,0102 - temperos,1,01 - Mercearia Salgada,10,10 - ALIMENTAR,SAL IOD VATE1KG,VATEL,MF,SECUNDARIA,1.0,KG
1,5723928,SAL MARINHO IODADO CONTINENTE 1KG,1020703,01020703 - Iodado,10207,010207 - sal,102,0102 - temperos,1,01 - Mercearia Salgada,10,10 - ALIMENTAR,SAL IODADO,CONTINENTE,MP,PROPRIA,1.0,KG
2,6522766,SAL ROSA HIMAL ORIGENS GROSSO 500G,1020750,01020750 - Sal bio,10207,010207 - sal,102,0102 - temperos,1,01 - Mercearia Salgada,10,10 - ALIMENTAR,SAL ROSA HIM GR,ORIGENS,MF,SECUNDARIA,0.5,KG
3,6522770,SAL ROSA HIMALAIAS ORIGENS FINO 500G,1020750,01020750 - Sal bio,10207,010207 - sal,102,0102 - temperos,1,01 - Mercearia Salgada,10,10 - ALIMENTAR,SAL ROSA HIM FI,ORIGENS,MF,SECUNDARIA,0.5,KG
4,7389930,SAL DOS HIMALAIAS GROSSO ORIGENS BIO 1KG,1020750,01020750 - Sal bio,10207,010207 - sal,102,0102 - temperos,1,01 - Mercearia Salgada,10,10 - ALIMENTAR,SAL DOS HIMALAI,ORIGENS BIO,MF,SECUNDARIA,1.0,KG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7227790,SET JOGGING L GREY MGE,41040603,41040603 - jogging sets,410406,410406 - sets,4104,4104 - toddler boy apparel,41,41 - Baby Apparel,24,24 - TEXTILE,CONJUNTO,MO KIDS,MP,SECUNDARIA,-1.0,UN
996,7354498,SET JOGGING FL SCARLET,41040603,41040603 - jogging sets,410406,410406 - sets,4104,4104 - toddler boy apparel,41,41 - Baby Apparel,24,24 - TEXTILE,FATO TREINO,MO KIDS,MP,SECUNDARIA,-1.0,UN
997,7354499,SET JOGGING FL SCARLET,41040603,41040603 - jogging sets,410406,410406 - sets,4104,4104 - toddler boy apparel,41,41 - Baby Apparel,24,24 - TEXTILE,FATO TREINO,MO KIDS,MP,SECUNDARIA,-1.0,UN
998,7354500,SET JOGGING FL SCARLET,41040603,41040603 - jogging sets,410406,410406 - sets,4104,4104 - toddler boy apparel,41,41 - Baby Apparel,24,24 - TEXTILE,FATO TREINO,MO KIDS,MP,SECUNDARIA,-1.0,UN
999,7354501,SET JOGGING FL SCARLET,41040603,41040603 - jogging sets,410406,410406 - sets,4104,4104 - toddler boy apparel,41,41 - Baby Apparel,24,24 - TEXTILE,FATO TREINO,MO KIDS,MP,SECUNDARIA,-1.0,UN

# TRANSACTION

In [27]:
client = bigquery.Client(project = "continente-lced-feup") 
query = '''
    SELECT * FROM `continente-lced-feup.tables_raw.fact_transaction` LIMIT 1000
'''
client.query(query).result().to_dataframe()

,TIME_KEY,TRANSACTION_ID_MASK,CUSTOMER_ACCOUNT_NR_MASK,LOC_BRAND_CD,LOCATION_CD,POS_TP_CD,SKU,PRODUCT_KEY,QTY,NET_SLS_AMT,GROSS_SLS_AMT,PROD_DSCNT_ISSUED_AMT,TRANS_DSCNT_RAT_AMT,DIRECT_DSCNT_AMT
0,20220101,7294905030358221301,8210063.0,302,3609,P,4403919,4403919010001,1.000,0.0,0.00,0.0,0.073635,0.00
1,20210828,7459153832834659241,10832968.0,302,7932,P,5293098,5293098010001,1.000,0.0,0.00,0.0,0.000000,1.04
2,20210909,7472205107923711286,7502804.0,302,7932,P,5788279,5788279010001,1.000,0.0,0.00,0.0,0.000000,0.00
3,20220708,8674972509477747645,11588279.0,302,2618,P,6106051,6106051010001,1.000,0.0,0.00,0.0,0.000000,0.10
4,20220810,8706991139979969852,102802901.0,302,1502,P,4097399,4097399010001,1.000,2.0,2.46,0.0,0.590778,1.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,20211013,7218091624231652904,5641438.0,302,4860,P,2086889,2086889010001,0.213,0.5,0.53,0.0,0.000000,0.00
996,20210829,7461252338039518815,5096186.0,302,1985,P,5063155,5063155010001,0.765,0.5,0.53,0.0,0.079504,0.00
997,20220820,8716942787931997499,25766969.0,302,3386,P,2597619,2597619010001,0.485,0.5,0.53,0.0,0.000000,0.00
998,20211116,7251049792983064048,79542193.0,302,340,P,5063155,5063155010001,0.765,0.5,0.53,0.0,0.000000,0.00
999,20221111,8765110117000945074,1274362.0,302,4228,P,5063155,5063155010001,0.534,0.5,0.53,0.0,0.019992,0.00