In [33]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3, 4, 5,5,5,5,5,5], 'B': [6, 7, 8, 8, 8,11,12,13,14,15] ,'C':[16,17,18,19,20,21,22,23,24,25]})

df.group('A').rolling(1).sum()

AttributeError: 'DataFrame' object has no attribute 'group'

In [17]:
df

    A   B   C
0   1   6  16
1   2   7  17
2   3   8  18
3   4   9  19
4   5  10  20
5   6  11  21
6   7  12  22
7   8  13  23
8   9  14  24
9  10  15  25