In [5]:
import pandas as pd
from google.cloud import bigquery

from sklearn.metrics import r2_score

In [2]:
# set display options to show all columns
pd.set_option('display.max_columns', None)
# Set the float format to display numbers without scientific notation
pd.options.display.float_format = '{:.2f}'.format
# Set the client for future queries to BigQuery
client = bigquery.Client(project = "continente-lced-feup")

In [9]:
query_out = client.query("""
   SELECT CUST_NUM_TRANSACTIONS_MONTH
   FROM 
       tables_staging.df_bold_model
    WHERE MONTH=10 AND YEAR=2022 AND SUBCAT_CD_EXT=10101
   ORDER BY CUSTOMER_ACCOUNT_NR_MASK ASC, SUBCAT_CD_EXT ASC, YEAR ASC, MONTH ASC
   """)

query_nov = client.query("""
   SELECT CUST_NUM_TRANSACTIONS_MONTH
   FROM 
       tables_staging.df_bold_model
    WHERE MONTH=11 AND YEAR=2022 AND SUBCAT_CD_EXT=10101
   ORDER BY CUSTOMER_ACCOUNT_NR_MASK ASC, SUBCAT_CD_EXT ASC, YEAR ASC, MONTH ASC
   """)

pred = query_out.result().to_dataframe() # Wait for the job to complete.
test = query_nov.result().to_dataframe() # Wait for the job to complete.

In [10]:
pred

     CUST_NUM_TRANSACTIONS_MONTH
0                              5
1                              9
2                              3
3                              6
4                              1
..                           ...
995                            8
996                            6
997                            2
998                            5
999                            7

[1000 rows x 1 columns]

In [11]:
test

     CUST_NUM_TRANSACTIONS_MONTH
0                              6
1                              7
2                              4
3                             11
4                              3
..                           ...
995                            3
996                            5
997                            3
998                            4
999                            6

[1000 rows x 1 columns]

In [12]:
r2_score(test, pred)

0.14312843841838663